<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Birthday Remainder Application</title>
<link rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
 integrity="sha384-MCw98/SFnGE8FJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkF0JwJ8ERdknLPMO"
  crossorigin="anonymous" >
</head>
<body>

   <h1> Birthday Reminder Application</h1>
   <div class="continer my-2">
   <a th:href="@{/newFriend}" class="btn btn-primary btn-sm mb-3"> Add Friend Birthday </a>
  
</div>

</body>
</html>