<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Birthday Reminder Application</title>

<link rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
 integrity="sha384-MCw98/SFnGE8FJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkF0JwJ8ERdknLPMO"
  crossorigin="anonymous" >
</head>
<body>
<div class="container">
   <h1>Birthday Reminder</h1>
  <hr> 
     <h2> Update Friends</h2>
     
     <form action="#" th:action="@{/saveFriend}" th:object="${friendsInfo}" method="POST">
     <input type="hidden" th:field="*{id}" />
     <input type="text" th:field="*{name}"  class="form-control mb-4 col-4"><br>
     <input type="date" id="dateOfBirth" th:field="*{dateOfBirth}" placeholder="DateOfBirth" class="form-control mb-4 col-4"><br>
     <input type="text" th:field="*{mail}"  class="form-control mb-4 col-4"><br>
     <button type="submit" class="btn btn-info col-2"> </button>  update Friend<br>
     <a th:href="@{/all}" class="btn btn-primary btn-sm mb-3"> See All Friends Birthday </a>  
     </form>
     
  </div>


</body>
</html>